<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>News Portal</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link href="assets/img/favicon.png" rel="icon">
    <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.gstatic.com" rel="preconnect">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="~/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="~/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="~/assets/vendor/quill/quill.snow.css" rel="stylesheet">
    <link href="~/assets/vendor/quill/quill.bubble.css" rel="stylesheet">
    <link href="~/assets/vendor/remixicon/remixicon.css" rel="stylesheet">
    <link href="~/assets/vendor/simple-datatables/style.css" rel="stylesheet">
    <link href="~/Scripts/ckeditor/contents.css" rel="stylesheet" />

    <!-- Template Main CSS File -->
    <link href="~/assets/css/style.css" rel="stylesheet">

    <!-- =======================================================
    * Template Name: NiceAdmin
    * Template URL: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/
    * Updated: Apr 20 2024 with Bootstrap v5.3.3
    * Author: BootstrapMade.com
    * License: https://bootstrapmade.com/license/
    ======================================================== -->
  

    <style>
        :root {
            --bg--: #dbe0c4;
            --color--: #0b404c;
        }
        /* Basic styling for the progress indicator */
        #progress {
            display: none;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            font-size: 20px;
            color: #3498db;
        }

        /* Extra Small Devices (Phones, Portrait Mode) */

        @@media (max-width: 575.98px) {
            /* Your CSS for extra small devices */
            .m-mainBox {
                height: 93vh;
            }

            .endBox {
                margin-top: 1rem;
            }

            th {
                font-size: 8px;
            }

            td {
                font-size: 8px;
            }

            .innerHtmlDiv input {
                font-size: 0.8rem;
                width: 3rem;
            }

            .innerHtmlDiv {
                gap: 0.5rem;
            }

            .tab-title {
                margin-top: 1rem;
            }
        }
        /* Small Devices (Phones, Landscape Mode) */
        @@media (min-width: 576px) and (max-width: 767.98px) {
            /* Your CSS for small devices */
        }

        /* Medium Devices (Tablets) */
        @@media (min-width: 768px) and (max-width: 991.98px) {
            /* Your CSS for medium devices */
        }

        /* Large Devices (Desktops) */
        @@media (min-width: 992px) and (max-width: 1199.98px) {
            /* Your CSS for large devices */
        }

        /* Extra Large Devices (Large Desktops) */
        @@media (min-width: 1200px) and (max-width: 1399.98px) {
            /* Your CSS for extra large devices */
        }

        /* XXL Devices (Very Large Screens) */
        @@media (min-width: 1400px) {
            /* Your CSS for XXL devices */
        }

        /* Portrait Orientation */
        @@media (orientation: portrait) {
            /* Your CSS for portrait mode */
        }

        /* Landscape Orientation */
        @@media (orientation: landscape) {
            /* Your CSS for landscape mode */
        }

        /* High-Resolution Displays (Retina) */
        @@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
            /* Your CSS for high-resolution displays */
        }

        /* Dark Mode */
        @@media (prefers-color-scheme: dark) {
            /* Your CSS for dark mode */
        }
    </style>
</head>

<body style="background:#fff">

    <!-- ======= Header ======= -->
    <header id="header" class="header fixed-top d-flex align-items-center" style="background:var(--bg--)">

        <div class="d-flex align-items-center justify-content-between">
            <a href="index.html" class="logo d-flex align-items-center" style="text-decoration:none">
                <img src="assets/img/logo.png" alt="">
                <span class="d-none d-lg-block" style="color:var(--color--)">Websites</span>
            </a>
            <i class="bi bi-list toggle-sidebar-btn" style="color: var(--color--)"></i>
        </div><!-- End Logo -->

        <div class="search-bar">
            <form class="search-form d-flex align-items-center" method="POST" action="#">
                <input type="text" name="query" placeholder="Search" title="Enter search keyword">
                <button type="submit" title="Search"><i class="bi bi-search"></i></button>
            </form>
        </div><!-- End Search Bar -->

        <nav class="header-nav ms-auto">
            <ul class="d-flex align-items-center">

                <li class="nav-item d-block d-lg-none">
                    <a class="nav-link nav-icon search-bar-toggle " href="#">
                        <i class="bi bi-search"></i>
                    </a>
                </li><!-- End Search Icon-->

                <li class="nav-item dropdown">

                    <a class="nav-link nav-icon" href="#" data-bs-toggle="dropdown">
                        <i class="bi bi-bell" style="color:#fff"></i>
                        <span class="badge bg-primary badge-number">0</span>
                    </a><!-- End Notification Icon -->

                    <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow notifications">
                        <li class="dropdown-header">
                            notifications
                            <a href="#"><span class="badge rounded-pill bg-primary p-2 ms-2">View all</span></a>
                        </li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>

                        <li class="notification-item">
                            <i class="bi bi-exclamation-circle text-warning"></i>
                            <div>
                                <h4>No new Notification Found.</h4>

                            </div>
                        </li>





                    </ul><!-- End Notification Dropdown Items -->

                </li><!-- End Notification Nav -->

                <li class="nav-item dropdown">

                    <a class="nav-link nav-icon" href="#" data-bs-toggle="dropdown">
                        <i class="bi bi-chat-left-text" style="color:#fff"></i>
                        <span class="badge bg-success badge-number">0</span>
                    </a><!-- End Messages Icon -->

                    <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow messages">
                        <li class="dropdown-header" style="color:#fff">
                            You have 0 messages
                            <a href="#"><span class="badge rounded-pill bg-primary p-2 ms-2">View all</span></a>
                        </li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>

                        <li class="message-item">
                            <a href="#">
                                <img src="~/assets/img/messages-1.jpg" alt="" class="rounded-circle">
                                <div>
                                    <h4>Thanks For Visiting.</h4>

                                </div>
                            </a>
                        </li>


                    </ul><!-- End Messages Dropdown Items -->

                </li><!-- End Messages Nav -->

                <li class="nav-item dropdown pe-3" style="position:relative">

                    <a class="nav-link nav-profile d-flex align-items-center pe-0" href="#" data-bs-toggle="dropdown">
                        <img src="~/assets/img/RahulFounder.jfif" alt="Profile" class="rounded-circle">
                        <span class="d-none d-md-block dropdown-toggle ps-2" onclick="ShowHide(this)" style="color:#fff">@Session["UserName"]</span>
                    </a><!-- End Profile Iamge Icon -->

                    <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow profile" id="ProfilDashboard" style=" position: absolute; left: -8.3rem; top: 3rem !important;">
                        <li class="dropdown-header">
                            <h6>Kevin Anderson</h6>
                            <span>Web Designer</span>
                        </li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>

                        <li>
                            <a class="dropdown-item d-flex align-items-center" href="users-profile.html">
                                <i class="bi bi-person"></i>
                                <span>My Profile</span>
                            </a>
                        </li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>

                        <li>
                            <a class="dropdown-item d-flex align-items-center" href="users-profile.html">
                                <i class="bi bi-gear"></i>
                                <span>Account Settings</span>
                            </a>
                        </li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>

                        <li>
                            <a class="dropdown-item d-flex align-items-center" href="pages-faq.html">
                                <i class="bi bi-question-circle"></i>
                                <span>Need Help?</span>
                            </a>
                        </li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>

                        <li>
                            <a class="dropdown-item d-flex align-items-center" href="#">
                                <i class="bi bi-box-arrow-right"></i>
                                <span>Sign Out</span>
                            </a>
                        </li>

                    </ul><!-- End Profile Dropdown Items -->
                </li><!-- End Profile Nav -->

            </ul>
        </nav><!-- End Icons Navigation -->

    </header><!-- End Header -->
    <!-- ======= Sidebar ======= -->
    <aside id="sidebar" class="sidebar">

        <ul class="sidebar-nav" id="sidebar-nav">

            <li class="nav-item">
                <a class="nav-link " href="index.html" data-id="Dashboard">
                    <i class="bi bi-grid"></i>
                    <span>Dashboard</span>
                </a>
            </li><!-- End Dashboard Nav -->

            <li class="nav-item">
                <a class="nav-link collapsed" data-bs-target="#forms-nav1" data-bs-toggle="collapse" href="#">
                    <i class="bi bi-journal-text"></i><span>Forms</span><i class="bi bi-chevron-down ms-auto"></i>
                </a>
                <ul id="forms-nav1" class="nav-content collapse " data-bs-parent="#sidebar-nav">
                    <li>
                        <a href="forms-elements.html">
                            <i class="bi bi-circle"></i><span>Form Elements</span>
                        </a>
                    </li>
                    <li>
                        <a href="forms-layouts.html">
                            <i class="bi bi-circle"></i><span>Form Layouts</span>
                        </a>
                    </li>
                    <li>
                        <a href="forms-editors.html">
                            <i class="bi bi-circle"></i><span>Form Editors</span>
                        </a>
                    </li>
                    <li>
                        <a href="forms-validation.html">
                            <i class="bi bi-circle"></i><span>Form Validation</span>
                        </a>
                    </li>
                </ul>
            </li><!-- End Forms Nav -->




            <li class="nav-item">
                <a class="nav-link collapsed" data-bs-target="#components-nav" data-bs-toggle="collapse" href="#"  data-id="ManageMasterData">
                <i class="bi bi-box-arrow-down-right"></i>
            <span>Master Data</span><i class="bi bi-chevron-down ms-auto"></i>
            </a>
                <ul id="components-nav" class="nav-content collapse  show" data-bs-parent="#sidebar-nav">
                    <li id="Visitor4" class="nav-item" onclick="GetLink(this)">
                        <a href="/Admin/Categories" class="nav-link">
                            <i class="bi bi-circle"></i><span>Manage Categories</span>
                        </a>
                    </li>
                    <li id="Visitor" class="nav-item" onclick="GetLink(this)">
                        <a href="/Admin/Subcategory" class="nav-link" data-id="MasterCategories">
                            <i class="bi bi-circle"></i><span>Manage Subcategory</span>
                        </a>
                    </li>
                    <li id="Visitor1" class="nav-item" onclick="GetLink(this)">
                        <a href="/Admin/FurnitureType" class="nav-link" data-id="MasterCategories">
                            <i class="bi bi-circle"></i><span>Manage Furniture Type</span>
                        </a>
                    </li>
                    <li id="Visitor2" class="nav-item" onclick="GetLink(this)">
                        <a href="/Admin/FurnitureMaterial" class="nav-link">
                            <i class="bi bi-circle"></i><span>Manage Furniture Material</span>
                        </a>
                    </li>
                    <li id="Visitor8" class="nav-item" onclick="GetLink(this)">
                        <a href="/Admin/FurnitureShape" class="nav-link">
                            <i class="bi bi-circle"></i><span>Manage Furniture Shape</span>
                        </a>
                    </li>

                    <li id="Visitor3" class="nav-item" onclick="GetLink(this)">
                        <a href="/Admin/FurnitureColor" class="nav-link">
                            <i class="bi bi-circle"></i><span>Manage Furniture Color</span>
                        </a>
                    </li>

                </ul>
            </li><!-- End Components Nav -->

        </ul>
    </aside><!-- End Sidebar-->
    <main id="main" class="main" style="background:#fff">
        @RenderBody()

    </main>




    <!-- Vendor JS Files -->
    <script src="~/Scripts/ckeditor/ckeditor.js"></script>
    <script src="~/assets/vendor/apexcharts/apexcharts.min.js"></script>
    <script src="~/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/assets/vendor/chart.js/chart.umd.js"></script>
    <script src="~/assets/vendor/echarts/echarts.min.js"></script>
    <script src="~/assets/vendor/quill/quill.js"></script>
    <script src="~/assets/vendor/simple-datatables/simple-datatables.js"></script>
    <script src="~/assets/vendor/tinymce/tinymce.min.js"></script>
    <script src="~/assets/vendor/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <!-- Template Main JS File -->
    <script src="~/assets/js/main.js"></script>

    @*<script src="~/Scripts/bootstrap.min.js"></script>*@
    @*<script src="~/Scripts/jquery-3.4.1.js"></script>
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>*@
    @*<script>
        $(document).ready(function () {
            debugger
            // Get the active link ID from local storage
            var activeLink = localStorage.getItem('activeLink');

            // If there is an active link saved, set it as active
            if (activeLink) {
                $('.nav-link').removeClass('active');
                /*$(`.nav-link[data-id="${activeLink}"]`).addClass('active');*/
                document.getElementById(activeLink).children[0].classList.add('active');
                localStorage.clear()
            }

            // On link click, update the active link in local storage
            $('.nav-link').on('click', function () {
                $('.nav-link').removeClass('active');
                $(this).addClass('active');

                // Save the clicked link's ID to local storage
                var id = $(this).data('id');
                localStorage.setItem('activeLink', id);
            });
        });

        function GetLink(obj) {
            debugger
            var ds = obj.id
            localStorage.clear()
            var activeLink = localStorage.setItem("activeLink", ds);

        }

   
    </script>*@
</body>

</html>
